/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-primary {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.inter-primary {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.center {
    text-align: center;
}

/* shared styles */
.btn-primary {
    border-radius: 10px;
    background: rgb(78, 71, 255);
    padding: 12px 36px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.btn-primary:hover {
    cursor: pointer;
    background-color: lightslategray;
    padding: 13px 38px;
}

.dark {
    color: rgb(37, 36, 50);
}

/* header and nav styles */
header {
    background-image: url(../Assets/Hero-bg.png);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

nav h3 {
    color: rgb(78, 71, 255);
    font-size: 34px;
    font-weight: 900;
}

/* banner styles */
.banner {
    padding-bottom: 150px;
}

.banner-title {
    color: rgb(37, 36, 50);
    Font-weight: 700;
    Font-size: 65px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.action-section {
    display: flex;
    margin-top: 116px;
    margin-bottom: 116px;
    justify-content: space-between;
    align-items: center;
}

.action-title {
    font-size: 42px;
    font-weight: 700;
}

.action-description {
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight: 400;
}

.action-info {
    max-width: 520px;
}

.action-img {
    width: 410px;
}

.action-img img {
    border-radius: 48px;
    max-width: 100%;
}

/* Productive Users Section */
.productive {
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
    margin-bottom: 130px;
}

.productive-title {
    font-size: 38px;
    font-weight: 700px;
}

.productive-users {
    display: flex;
    justify-content: space-around;
}

.user {
    color: rgb(78, 71, 255);
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}

.user-activities {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
}